<!DOCTYPE html>
<html>
<head>
    <title>SecureZIP</title>
</head>
<body>
    <input id="upload_button" type="file"/>
    <button id="upload_area" onclick="document.getElementById('upload_button').click()" title="Click or Drag Image">Drop files here</button>
</body>
</html>