{% include '_includes/header.html.twig' %}
<form>
    <input id="upload_button" type="file"/>
    <button id="upload_area" onclick="document.getElementById('upload_button').click();" title="Click or drop files here">Drop files here</button>
</form>
{% include '_includes/footer.html.twig' %}