{% include '_includes/header.html.twig' %}
<form method="post" enctype="multipart/form-data" action="/">
    <input class="upload_button" id="upload_button" name="upload_files[]" type="file" multiple="multiple"/>
    <button type="button" class="upload_area" id="upload_area" onclick="document.getElementById('upload_button').click();" title="Click here to begin">Click here to begin</button>
    <button type="submit" class="submit_button">GO!</button>
</form>
{% include '_includes/footer.html.twig' %}